* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FAFAFA;
  font-family: 'Jost', sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

:root {
  --background: #0b0b0b;
  --color: #FAFAFA;
}

body {
  background-color: #0b0b0b;
}

a {
  text-decoration: none;
  color: #edebeb;
}

.navbar-toggler {
  border-color: #faa702;
}

.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23faa702' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar {
  background-color: #000;
  border-bottom: 2px #747474 solid;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 99;
}

.nav-link,
.navbar-brand {
  color: #edebeb;
  transition: all 0.3s
}

.nav-link:hover,
.navbar-brand:hover {
  color: #f9c764;
}

.nav-link:focus,
.navbar-brand:focus {
  color: #fcaf17;
}

.main {
  margin-top: 63px;
}

/* span {
  font-size: 80px;
} */

.inicio {
  margin-bottom: 80px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p_inicio {
  font-size: 1.4rem;
}

.titulo {
  font-size: 2.8rem;
  margin-bottom: 15px;
}

.btn_down {
  color: #000;
  background-color: #fcaf17;
  border: none;
  font-size: 1.3rem;
  margin-top: 10px;
  padding: 7px;
  border-radius: 5px;
  transition: all 0.3s;
}

.seccion {
  height: 95vh;
  padding: 50px 0;
  border-top: 2px solid #747474;
}

.sobre_mi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.español {
  font-size: 1.2rem;
}

.list_tecs_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lista_tec {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 30px;
}

.tecs-flex {
  text-align: center;
}

.tec_item {
  margin: 0 10px;
  padding: 2px 9px;
  background-color: #121212;
  border: 1px solid #fcaf17;
  color: #FAFAFA;
  border-radius: 5px;
}

.proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
}

.projects_container {
  width: 830px;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  gap: 16px;
  overflow-y: auto;
}

.project {
  width: 400px;
  margin: 10px;
  background-color: #151515;
  padding: 10px;
  border-radius: 10px;
}

.project>img {
  width: 100%;
  height: 220px;
}

.project>p {
  margin: 0;
}

.tecno {
  color: #fcaf17;
}

.btn_visit_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn_visit_container>a {
  text-decoration: none;
  text-align: center;
  background-color: #fcaf17;
  width: 130px;
  margin: 6px 10px;
  padding: 3px;
  color: #000;
  border-radius: 15px;
  transition: all 0.3s;
}

.btn_visit_container>a:hover,
input[type="submit"]:hover,
.btn_down:hover {
  background-color: #2b2b2b;
  border: 1px solid #fcaf17;
  color: #FAFAFA;
}

.btn_visit_container>a:focus,
input[type="submit"]:focus,
.btn_down:focus {
  background-color: #161616;
  border: 1px solid #faa702;
  color: #FAFAFA;
}

.field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  font-size: 16px;
  color: #777;
}

.field input {
  margin-bottom: 30px;
  display: block;
  height: 30px;
  width: 350px;
  line-height: 1.5;
  font-size: 14px;
}

input {
  color: #000;
}

input[type="submit"] {
  display: inline;
  width: 100px;
  padding: 8px;
  font-size: 14px;
  background-color: #fcaf17;
  color: #fff;
  border: none;
  transition: all 0.3s;
}

.footer {
  border-top: 2px #747474 solid;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer>ul {
  display: flex;
  flex-direction: row;
  align-items: end;
  list-style: none;
}

.footer>ul>a {
  margin: 0 10px;
}

.img_footer {
  width: 30px;
  height: 30px;
  transition: all 0.3s;
}

.img_footer:hover {
  width: 35px;
  height: 35px;
}

.a_footer {
  transition: all 0.3s;
}

.a_footer:hover {
  color: #747474;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 1s ease infinite 1s alternate-reverse;
}

.stack span:nth-child(odd) {
  --glitch-translate: 8px;
}

.stack span:nth-child(even) {
  --glitch-translate: -8px;
}

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 rgb(255, 0, 0), 2px -3px 0 blue;
  }

  ;

  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }

  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }

  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }

  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }

  4%,
  100% {
    text-shadow: none;
    transform: none;
  }
}

@media (max-width: 566px) {
  .titulo {
    font-size: 2.5rem;
    text-align: center;
  }

  .p_inicio {
    font-size: 1.1rem;
  }

  .español {
    text-align: center;
    font-size: 1rem;
    margin: 10px;
  }

  .projects_container {
    width: 350px;
  }

  .lista_tec {
    flex-wrap: wrap;
  }

  .tec_item {
    margin-top: 10px;
  }

  h4 {
    margin: 0;
  }

  .footer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .footer>ul {
    padding: 0;
  }
}